* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #eef7f1;
  overflow-x: hidden;
}

strong {
  font-weight: 500;
}

section {
  display: block;
}

/* ***********************/
/* GENERAL REUSABLE COMPONENTS  */
/* ***********************/
.container {
  /* 1140 */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}
.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}
.grid--center-v {
  align-items: center;
}
.heading-primary,
.heading-tertiary,
.heading-secondary {
  font-weight: 700;
  color: #eef7f1;
  letter-spacing: -0.5px;
}
.heading-secondary {
  color: #193523;
}

.heading-tertiary {
  color: #193523;
}
.heading-primary i {
  color: #53b175;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}
.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #112317;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;

  /* only necessary for .btn */
  border: none;
  cursor: pointer;
  font-family: inherit;
  /* on original "state" */
  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #53b175;
  color: #fff;
}
.btn--full:hover,
.btn--full:active {
  background-color: #3a7c52;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #08120c;
}
.btn--outline:hover,
.btn--outline:active {
  background-color: #eef7f1;
  box-shadow: inset 0 0 0 3px #fff;
}

.btn--form {
  background-color: #08120c9a;
  color: #eef7f1;
  align-self: end;
  padding: 1.2rem;
}

.btn--form:hover {
  background-color: #fff;
  color: #555;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem #87c89e;
}

.list-item--negative {
  text-decoration: line-through;
}
/* helper/setting classes */
.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.center-text {
  text-align: center;
}
